<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>HomePage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

  <style>
    body{
      background-image: url("background.png");
      background-repeat: no-repeat;
      background-size: 100% calc(100% - -75vh);
    }

    h1{
      color: white;
    }

    a{
      color: white;
    }

    button{
      margin-bottom: 10px;
      max-width: 100%;
    }
    .btn{
      font-size: 2vh;
    }

    input{
      color: white;
    }
  </style>
</head>
<body class="container">
  <div id="app">
    <h1 class="center">{{ date }}</h1>
    <input v-on:keyup.enter="searchGoogle" v-model="search" placeholder="Search..." v-focus/>
    <ul>
      <li v-for="r of result"></li>
    </ul>
    <div class="row">
      <div class="col s4">
        <list-pages v-for="p of pages1" :name="p.name" v-bind:url="p.url"></list-pages>
      </div>
      <div class="col s4">
        <list-pages v-for="p of pages2" :name="p.name" v-bind:url="p.url"></list-pages>
      </div>
      <div class="col s4">
        <list-pages v-for="p of pages3" :name="p.name" v-bind:url="p.url"></list-pages>
      </div>
    </div>
  </div>
</body>
<script>

  let app = new Vue({
    el: '#app',
    data:{
      date: moment().format("LLLL"),
      search: '',
      pages1: [
        {name: 'Facebook',url: 'https://www.facebook.com/'},
        {name: 'Gmail', url: 'https://mail.google.com/mail/u/0/#inbox'},
        {name: 'Animeflv', url: 'https://animeflv.net/'},
        {name: 'Tumangaonline', url: 'https://tumangaonline.me/?uploads_mode=thumbnail'}
      ],
      pages2: [
        {name: 'Materialize', url: 'https://materializecss.com/'},
        {name: 'VueJs API', url: 'https://vuejs.org/v2/api/#Global-Config'},
        {name: 'Nyxot Github', url: 'https://github.com/Nyxot?tab=repositories'}
      ],
      pages3: [
        {name: 'Urrea RH', url: 'http://desarrollohumano.urrea.com/dhNoticias.php'}
      ],
      result:[]
    },
    created: function () {
      let self = this;
      setInterval(function () {
        // console.log('updating ticker')
        self.$data.date =  moment().format("LLLL")
      }, 1000)

      // Register a global custom directive called `v-focus`
      Vue.directive('focus', {
        // When the bound element is inserted into the DOM...
        inserted: function (el) {
          // Focus the element  
          el.focus()
        }
      })
    },
    methods:{
      searchGoogle: function(){
        let goo = 'https://www.google.com/search?q=' + this.$data.search;
        window.location = goo;
      },
    },
    watch:{
      search:{
        handler: function(newVal, oldVal){
          // this.$data.result = [];
          // // console.log(newVal);
          // // console.log(oldVal);
          // // this.$data.result.push(newVal);
          // // console.log(this.$data.result);
          // this.$http.get('http://suggestqueries.google.com/complete/search?client=firefox&q='+newVal).then(function(response){
          //     console.log(response.body);
          //     this.$data.result.push(response.body);
          // }, function(){
          //     alert('Error!');
          // });
          // console.log(this.$data.result);
        },
        deep: true
      }
    },
    components:{

    'list-pages': {
      props:['name', 'url'],
      template: `<ul>
                  <li>
                    <a :href="url" target="_blank">
                      <button class="btn waves-effect waves-light">
                        {{ name }}
                      </button>
                    </a>
                  </li>
                </ul>`
      }
    }
  })
</script>
</html>